<div class='student-list js-student-list'>
<% @students.each do |student| %>
  <p class="<%= student.color%>">
  <a href="/<%= student.github_id %>"><%= student.name %> 
    <% if student.updated_at %>
      <small><%= time_ago_in_words(student.updated_at) %> ago</small> 
    <% end %>
  </a></p>
<% end %>
</div>
