// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red:#FF4136;
$green:#2ECC40;
$yellow:#FFDC00;
$blue:#0074D9;

*{
  box-sizing:border-box;
}

body{
  max-width:40em;
  padding:0em 1em;
  font-family: 'Helvetica Neue', sans-serif;
  margin:auto;
}

header{
  padding-top:1em;
  @media all and(max-width:40em){
    padding-top:0;
  }
  h1{
    margin-top:0;
    margin-bottom:.5em;
  }
  small{
    float:right;
    margin-top:1em;
    @media all and(max-width:40em){
      display:block;
      float:none;
      margin:.5em 0;
    }
  }
}

label{
  display:block;
}

.red{
  background:#FF4136;
}

.green{
  background:#2ECC40;
}

.yellow{
  background:#FFDC00;
}


.student-list{
  font-weight:bold;
  p {
    padding: .5em 1em;
  }
  small{
    font-weight:normal;
    font-size:.7em;
    line-height:1.7em;
    float:right;
  }
  a img {
    width: 35px;
    padding: 0 .5em;
    float: right;
  }
  a{
    color: #000;
    text-decoration:none;
  }
}

.status{
  position:relative;
  padding:.25em .5em .5em 30px;
  border: 1px solid #eee;
  margin-bottom:1em;
  p{
    margin:0;
  }
}

.status .color{
  height:20px;
  width:20px;
  position:absolute;
  top:.25em;
  left: .25em;
}

.status small{
  position:absolute;
  right:.5em;
  top:.5em;
  @media all and(max-width:40em){
    position: static;
    display:block;
    margin-bottom:.5em;
  }
  &, a{
    color: #aaa;
    text-decoration:none;
  }
}

time{
  font-size:.8em;
  color:#aaa;
  display:block;
  margin:.25em 0 .5em 0;
}

textarea{
  width: 100%;
  resize: vertical;
  font:inherit;
  min-height:100px;
  margin-bottom:.5em;
}

form{
  margin-bottom:2em;
}

.student-list > p{
  width:100%;
  margin:.5em 0;
}

.summary{
  display:inline-block;
  cursor: pointer;
  padding:.75em 1em;
  margin-right:.25em;
  margin-top:.5em;
  margin-bottom:.5em;
  text-align:center;
  color:#fff;
  &.yellow,
  &.all{
    color:#000;
  }
}

h1 input{
  font:inherit;
  font-size:.6em;
}

.squads{
  margin:.5em 0 .5em 0;
  font-size:.8em;
  a{
    padding-right:.5em;
  }
}

.stats{
  margin-top:1em;
}

.stats > div{
  padding: .5em 1em;
  margin-bottom:.5em;
}


.color-buttons{
  input[type='radio']{
    display:none;
  }
  label{
    display:inline-block;
    padding:.5em;
    @media all and (max-width:40em){
      padding:.25em .125em;
    }
    background: #fff;
    border-radius:3px;
    transition: all .2s ease;
    cursor: pointer;
  }
  .red{
    border: 2px solid $red;
  }
  .yellow{
    border: 2px solid $yellow;
  }
  .green{
    border: 2px solid $green;
  }
  .na{
    border: 2px solid #000;
  }
  :checked + label{
    color:#fff;
    &.red{
      background: $red;
    }
    &.yellow{
      background: $yellow;
      color:#000;
    }
    &.green{
      background: $green;
    }
    &.na{
      background: #000;
    }
  }
}

.project{
  border:2px solid #ccc;
  padding:1em;
  margin-top:1em;
  border-radius:3px;
}

.project h3{
  border-bottom:2px solid #ccc;
  margin-bottom:1em;
  padding-bottom:.75em;
}

.project :first-child{
  margin-top:0;
}
.project :last-child{
  margin-bottom:0;
}

.notification{
  border: 1px solid #ccc;
  border-radius:3px;
  padding:1em;
  margin:1em 0 0 0;
  &[data-read="true"]{
    opacity:.5;
  }
  .meta{
    background:#eee;
    margin: -1em -1em 1em -1em;
    padding:.5em 1em .5em 1em;
    form{
      margin:0;
      float:right;
    }
  }
  label{
    cursor:pointer;
    display:inline-block;
  }
  label > input {
    display:none;
  }
}

.notification-link{
  position:relative;
  display:inline-block;
}

.notification-count{
  background: $red;
  color:#fff;
  font-size:.5em;
  display:inline-block;
  width:1.5em;
  height:1.5em;
  text-align:center;
  line-height:1.5em;
  border-radius:100%;
  position:absolute;
  right:-1.25em;
  top:-.5em;
  &[data-notifications-count="0"]{
    display:none;
  }
}

blockquote{
  border-left:3px solid #ccc;
  padding-left:.5em;
}
